.span3
    ul(class="nav nav-list affix")
        li
            a(href="/me/")
                i.icon-user
                | Profile        
        li
            a(href="/me/mentions/")
                i.icon-bullhorn
                | Mentions
        li
            a(href="/me/edit/")
                i.icon-edit
                | Edit your profile
        li
            a(href="mailto:support@cmnt.io")
                i.icon-envelope
                | Contact Us