extends layout
block navBar
    include ./partials/topMenu
block content
    .container-fluid
        .row-fluid
            .span12
                section
                    .page-header 
                        h1 For Help
                    .row-fluid
                        h2 Drop us a line: support[at]cmnt.io
                        p We'll lend a hand as soon as possible :D